:root {
  --unit: 1vmin;
  --land: hsl(40, 40%, 40%);
  --road--one: hsl(0, 0%, 40%);
  --road--two: hsl(0, 0%, 50%);
}

html {
  font-size: var(--unit);
}

body {
  --landscape: linear-gradient(var(--land), var(--land)) 0 100% / 100% 57.25%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background:
    var(--landscape);
  background-repeat: no-repeat;
  background-color: hsl(190, 50%, 90%);
  min-height: 100vh;
  perspective: 70vh;
  transform-style: preserve-3d;
  overflow: hidden;
}

body:before {
  --road-markings: linear-gradient(white 0 49%, transparent 51% 100%) 50% 0 / 2em 5em repeat-y;
  --road-edges: linear-gradient(90deg, white 0 2%, transparent 3% 97%, white 98% 100%) 50% 0 / 30em 100% no-repeat;
  --road: linear-gradient(0deg, var(--road--one) 0 49%, var(--road--two) 50% 100%) 50% 0 / 30em 10em repeat-y;

  content: '';
  position: absolute;
  height: 200vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  background:
    var(--road-markings),
    var(--road-edges),
    var(--road);
  /* animation: roll 4s infinite linear; */
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotateX(80deg) translate(0, 0%);
}

body:after {
  --cap--button: linear-gradient(red, red) 50% 0 / 4em 2em;
  --peak--one: linear-gradient(red, red) 50% 12em / 12em 10em;
  --peak--two: linear-gradient(red, red) 50% 12em / 16em 8em;
  --peak--three: linear-gradient(red, red) 50% 10em / 20em 6em;
  --cap--one: linear-gradient(black, black) 50% 2em / 12em 20em;
  --cap--two: linear-gradient(black, black) 50% 4em / 16em 16em;
  --cap--three: linear-gradient(black, black) 50% 6em / 20em 10em;
  --cap--four: linear-gradient(black, black) 50% 8em / 16em 4em;
  --head--one: linear-gradient(brown, brown) 50% 8em / 20em 26em;
  --head--two: linear-gradient(brown, brown) 50% 6em / 28em 16em;
  --head--three: linear-gradient(brown, brown) 50% 6em / 36em 6em;
  --head--four: linear-gradient(brown, brown) 12em 4em / 6em 10em;
  --head--five: linear-gradient(brown, brown) 38em 4em / 6em 10em;
  --head--six: linear-gradient(brown, brown) 50% 20em / 24em 6em;
  --shoulder--one: linear-gradient(brown, brown) 50% 28em / 24em 6em;
  --shoulder--two: linear-gradient(brown, brown) 50% 30em / 28em 6em;
  --shoulder--three: linear-gradient(brown, brown) 50% 32em / 32em 6em;
  --seat--one: linear-gradient(pink, pink) 50% 28em / 16em 10em;
  --seat--two: linear-gradient(pink, pink) 50% 32em / 20em 10em;
  --seat--three: linear-gradient(blue, blue) 50% 32em / 12em 4em;
  --seat--four: linear-gradient(blue, blue) 50% 34em / 20em 4em;
  --seat--five: linear-gradient(grey, grey) 50% 36em / 24em 12em;
  --seat--six: linear-gradient(purple, purple) 50% 34em / 32em 4em;
  --seat--seven: linear-gradient(white, white) 12em 36em / 4em 4em;
  --seat--eight: linear-gradient(white, white) 40em 36em / 4em 4em;
  --seat--nine: linear-gradient(green, green) 50% 38em / 28em 10em;
  --seat--ten: linear-gradient(blue, blue) 50% 38em / 20em 10em;
  --seat--eleven: linear-gradient(white, white) 50% 40em / 20em 2em;
  --seat--twelve: linear-gradient(orange, orange) 50% 42em / 16em 2em;
  --seat--thirteen: linear-gradient(pink, pink) 50% 44em / 16em 2em;
  --seat--fourteen: linear-gradient(red, red) 50% 46em / 12em 2em;
  --seat--fifteen: linear-gradient(orange, orange) 50% 46em / 16em 2em;
  --seat--sixteen: linear-gradient(yellow, yellow) 50% 46em / 28em 6em;
  --seat--seventeen: linear-gradient(black, black) 50% 50em / 28em 2em;
  --seat--eighteen: linear-gradient(grey, grey) 50% 48em / 16em 3em;
  --seat--nineteen: linear-gradient(grey, grey) 50% 42em / 24em 6em;
  --seat--twenty: linear-gradient(grey, grey) 50% 44em / 28em 2em;
  --seat--twentyone: linear-gradient(orange, orange) 50% 44em / 28em 4em;
  --wheel--main: linear-gradient(black, black) 50% 40em / 56em 10em;

  /* --peak */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);
  /* opacity: 0.5; */
  background:
    var(--cap--button),
    var(--cap--four),
    var(--peak--one),
    var(--peak--two),
    var(--peak--three),
    var(--cap--one),
    var(--cap--two),
    var(--cap--three),
    var(--seat--seventeen),
    var(--seat--eighteen),
    var(--seat--fourteen),
    var(--seat--fifteen),
    var(--seat--thirteen),
    var(--seat--twelve),
    var(--seat--eleven),
    var(--seat--ten),
    var(--seat--twenty),
    var(--seat--nineteen),
    var(--seat--twentyone),
    var(--seat--nine),
    var(--seat--five),
    var(--seat--four),
    var(--seat--eight),
    var(--seat--seven),
    var(--seat--three),
    var(--seat--sixteen),
    var(--seat--one),
    var(--seat--two),
    var(--seat--six),
    var(--head--one),
    var(--head--two),
    var(--head--three),
    var(--head--four),
    var(--head--five),
    var(--head--six),
    var(--shoulder--one),
    var(--shoulder--two),
    var(--shoulder--three),
    var(--wheel--main);
  background-color: hsl(280, 50%, 50%, 0.25);
  background-repeat: no-repeat;
  height: 52em;
  width: 56em;
  /* animation: rock .1s infinite linear; */
}

@keyframes rock {
  50% {
    transform: translate(-50%, -50%) translate(0, -1em);
  }
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0em);
  height: 52em;
}

@media(max-width: 768px) {
  :root {
    --scale: 0.1;
  }
}

@keyframes roll {
  to {
    background-position:
      50% 100%,
      50% 0%,
      50% 100%;
  }
}